@tailwind base;
@tailwind components;
@tailwind utilities;
/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
    height: 7px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Optional: Add some padding to make the scroll smoother */
.custom-scrollbar {
    padding-bottom: 10px;
}
